@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* Nothing here yet */

.padding {
    padding:80px;
}

#aboutMePic {
    padding-top:40px;
}

#aboutmeHeader {
    font-size: 40px;
    font-weight: 500;

}

#aboutme {
    color:black;
    font-weight: 700;
    font-size: 1em;
    opacity:0.7;
}




.container.nomargin {
    margin:0;
    padding:0;
    width:100%;
}

.margin {
/*
    margin:30px 0;
*/
    
    margin:10px;
}

#Portfolio_Page .portfolioHeader{
    font-weight: 900;
    font-size:1.5em;
}

#Portfolio_Page .portfolioDesc{
    font-weight:100;
    font-size:1.0em;
}

#Splashpage footer {
    font-family:'Ubuntu', sans-serif;
    font-size: 1em;
    color:Black;
    padding:10px;
    line-height: 5px;
}


body {
    font-family:'Ubuntu',sans-serif;
}

.title{
    font-size:5em;
    
}

/*#header span .glyphicon{
    text-align: center;
}*/

#header {
    background-image: url("../assets/splashpageMap.jpg.png");
    color:black;
    opacity: .7;
    padding-top: 10px; 
    padding-bottom: 20px; 
}


.glyphicon {
    color:#16a085;
    font-size:5em;
}

.subtitle{
    margin-top: 0px; 
}


.description {
    line-height: 10%;
}

/* Added this to keep text from wrapping (replace description)*/

.text-justify {
    text-align: center;
    line-height:50%;
}



.navbar {
    /*background: #34495e;*/
    background:#ecf0f1;
    padding:5px;
    border: 10px;
    margin-bottom:0px;
}



.navbar .navbar-brand{
    font-weight: 400;
    font-family:'Ubuntu',sans-serif;
    /*color: #d35400;*/
    color: black;
    opacity: .7;
    font-size: 2.5em;
}




.navbar .navbar-brand:hover {
    /*text-decoration: underline;*/
    color:#16a085;
    

}

.navbar-inverse .navbar-nav>li>a:hover{
    /*text-decoration: underline;*/
    color:#16a085;
}

.navbar-inverse .navbar-nav>li>a{
    color:black;
    opacity: .7;
    font-size: 1.5em;

}

#Portfolio_Page {
    background-color:#ecf0f1;
}

#contact{
    background-color:#ecf0f1;
}

/* Override with my theme outline */
#contact .has-success .form-control,
#contact .has-success .control-label {
    
    border-color: #16a085;
    border-width:0.5px;
    color: black;
    
    
}

/* Submit button regular*/
#contact .btn-primary{
    background:#16a085;
}

/* Submit button styling override */
#contact .btn-primary:hover{
    background:#ecf0f1;
    color:#16a085;
}

/* Style the social media buttons*/
#contact .btn-socialMedia {
    display:inline-block;
    width:50px;
    height:50px;
    background-color:white;
    color:black;
    border:2px solid #16a085;
    border-radius:100%;
    text-align:center;
    font-size:25px;
    font-weight:900;
    line-height:45px;
    
}

/* Adjust the button margins*/
#contact .social_links>li {
    
    margin:25px 0px;
    
    
}

/* Change color on hover */
#contact .social_links>li:hover a{
    background:#16a085;
    color:#ecf0f1;
    transition: all .5s;
}

/* This is how you force the images to a size - that and del thumbnail tag (just use imgsrc)*/

#Portfolio_Page .portfolio-item {
    
    height: 400px;
    margin-bottom: 30px;
 
}


/*
#Portfolio_Page .img-thumbnail {
    
    width: 360;
    height: 260;
    
}
*/

#Portfolio_Page .img-thumbnail{
    
    border-radius: 10px;
    margin:20px 0;
    opacity: 1;
    transition: all .3s;
    
    
}

#Portfolio_Page .img-thumbnail:hover {
    margin: 5px 0;
    opacity: .7;
        
}

#about{
    padding: 40px 0px; 
    background-color:#ecf0f1;
}

button, .download{
    border-style:none; 
    background-color: #16a085;
    border-radius: 3px; 
    color: white; 
    padding: 5px 10px; 
}

.modal-content{
    width: 800px; 
}

.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #000; 
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: #fff;
}




